extends ../layouts/default

block main
  center
    h1= title

block content
  .text-center.my-4
  a.btn.btn-dark(href="/auth/github") GitHub
  |  
  a.btn.btn-info(href="/auth/twitter") Twitter
  |  
  a.btn.btn-danger(href="/auth/google") Google
  |  
  a.btn.btn-primary(href="/auth/linkedin") LinkedIn

  .text-center
    br
    h2 OR
    br

  .login
    block auth
